<h1 class="mt-3">PropertyGenie</h1>
<p>Search for Homes</p>
<hr class="my-4">

<%= form_for_filterrific @filterrific do |f| %>

  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed form-control mb-3',
      placeholder: 'Enter Name or Address...'
    ) %>
  </div>

  <div>
    Address:
    <%= f.select(
      :with_address,
      @filterrific.select_options[:with_address],
      { include_blank: '- Any -' },
      class: 'form-control mb-3'
    ) %>
  </div>

  <div>
    Property Rented?
    <%= f.select(
      :with_rented,
      @filterrific.select_options[:with_rented],
      { include_blank: '- Any -' },
      class: 'form-control mb-3'
    ) %>
  </div>

  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>

  <div>
    <%= link_to(
      'Reset Filters',
      reset_filterrific_url,
      class: 'btn btn-primary mt-3'
    ) %>
  </div>

  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'search/list',
  locals: { houses: @houses }
) %>
